.layout-wrapper {
  max-width: 1024px;
  margin: 20px auto;
}

.layout-header h1 {
  text-align: center;
  color: orangered;
  padding: 10px 0;
}
.layout-section {
  padding: 10px 20px;
}

.aside-3 {
  width: 25%;
  float: left;
}
